{% extends 'base.html.twig' %}

{% block title %}Hello StatistiquesController!
{% endblock %}

{% block body %}
	{% include 'partials/_header-home.html.twig' %}
	<div class="h-max w-screen bg-gray-900 p-8 flex flex-col">
		<div class="grid grid-cols-4 gap-4">

			<div class="row-span-3 row col-span-3">
				<div class="flex justify-between items-center">
					<div>
						{% include 'partials/_breadcrump.html.twig' %}
					</div>					
					<div class="flex">
						<button type="button" id="reloadBtn" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Actualiser</button>
						<div class="relative ml-2">
							<div class="absolute inset-y-0 bottom-1 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
								<svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
									<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
								</svg>
							</div>
							<input type="text" id="table-search" class="block pt-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search for items">
						</div>
					</div>
				</div>
				<div style="height: 95.3%; max-height: 92.3% " class="relative overflow-x-auto shadow-md sm:rounded-lg dark:bg-gray-800 pb-4">
					<div class="flex flex-column sm:flex-row flex-wrap space-y-4 sm:space-y-0 items-center justify-between pb-4">
						<div>
							<!-- Dropdown menu -->
							<div id="dropdownRadio" class="z-10 hidden w-48 bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600" data-popper-reference-hidden="" data-popper-escaped="" data-popper-placement="top" style="position: absolute; inset: auto auto 0px 0px; margin: 0px; transform: translate3d(522.5px, 3847.5px, 0px);">
								<ul class="p-3 space-y-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownRadioButton">
									<li>
										<div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
											<input id="filter-radio-example-1" type="radio" value="" name="filter-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
											<label for="filter-radio-example-1" class="w-full ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">Hier</label>
										</div>
									</li>
									<li>
										<div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
											<input checked="" id="filter-radio-example-2" type="radio" value="" name="filter-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
											<label for="filter-radio-example-2" class="w-full ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">Aujourd'hui</label>
										</div>
									</li>
									<li>
										<div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
											<input id="filter-radio-example-3" type="radio" value="" name="filter-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
											<label for="filter-radio-example-3" class="w-full ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">7 derniers jours</label>
										</div>
									</li>
									<li>
										<div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
											<input id="filter-radio-example-4" type="radio" value="" name="filter-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
											<label for="filter-radio-example-4" class="w-full ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">30 derniers jours</label>
										</div>
									</li>
									{# <li>
											<div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
												<input id="filter-radio-example-5" type="radio" value="" name="filter-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
												<label for="filter-radio-example-5" class="w-full ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">L'année dernière</label>
											</div>
										</li> #}
								</ul>
							</div>
						</div>
					</div>
					<table class="w-full text-sm text-left rtl:text-right text-gray-200 dark:text-gray-400">
						<thead class="text-xs text-gray-200 uppercase bg-gray-50 dark:bg-gray-800 dark:text-gray-200">
							<tr>
								<th scope="col" class="px-6 py-3 text-center">
									League
								</th>
								<th scope="col" class="px-6 py-3 text-center">
									Date
								</th>
								<th scope="col" class="px-6 py-3 text-center">
									Domicile
								</th>
								<th scope="col" class="px-6 py-3 text-center">
									Extérieur
								</th>
								<th scope="col" class="px-6 py-3 text-center">
									Score
								</th>
								<th scope="col" class="px-6 py-3 text-center">
									Set
								</th>
								<th scope="col" class="px-6 py-3 text-center">
									Status
								</th>
							</tr>
						</thead>
						<tbody>
							{% for stat in all_match %}
								<tr class="h-8">
									<td class="text-center">{{ stat.date|date('d/m/Y') }}</td>
									<td class="text-center">{{ stat.league }}</td>
									<td class="text-center">{{ stat.nameHome }}</td>
									<td class="text-center">{{ stat.nameAway }}</td>
									<td class="text-center">{{ stat.score }}</td>
									{% if stat.winner == null %}
										<td class="text-center text-gray-200">En cours...</td>
									{% else %}
										<td class="text-center">{{ stat.winner }}</td>
									{% endif %}
									{% if stat.win == true %}
										<td class="text-center text-green-600 font-bold tracking-wide">Victoire</td>
									{% elseif stat.winner is null %}
											<td class="text-center text-gray-200">En cours...</td>
									{% elseif stat.win == false %}
										<td class="text-center text-red-600 font-bold tracking-wide">Défaite</td>
									{% endif %}
									
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="grid grid-cols-subgrid gap-4 col-row-2">
				<div class="">
					<div class="max-w-sm w-full bg-white rounded-lg shadow dark:bg-gray-800">
					<div class="flex justify-between p-4 md:p-6 pb-0 md:pb-0">
					    <div>
							<h5 class="leading-none text-lg font-bold text-gray-900 dark:text-white pb-2">Analyse du nombre de matchs et de victoires</h5>
						</div>
						<div class="flex items-center px-2.5 py-0.5 text-base font-semibold text-green-500 dark:text-green-500 text-center">
							23%
							<svg class="w-3 h-3 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 14">
								<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13V1m0 0L1 5m4-4 4 4"/>
							</svg>
						</div>
					</div>
					<div id="labels-chart" class="px-2.5"></div>
					<div class="grid grid-cols-1 items-center border-gray-200 border-t dark:border-gray-700 justify-between mt-5 p-4 md:p-6 pt-0 md:pt-0">
						<div class="flex justify-between items-center pt-5">
						<!-- Button -->
						<button id="dropdownHoverButton" data-dropdown-toggle="dropdownHover" data-dropdown-trigger="hover" class="text-sm font-medium text-gray-500 dark:text-gray-400 hover:text-gray-900 text-center inline-flex items-center dark:hover:text-white" type="button">7 derniers jours<svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
						<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
						</svg>
						</button>
						<!-- Dropdown menu -->
						<div id="dropdownHover" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
							<ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownHoverButton">
								<li>
									<a id="line7" href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">7 derniers jours</a>
								</li>
								<li>
									<a id="line14" href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">14 derniers jours</a>
								</li>
							</ul>
						</div>
						</div>
					</div>
					</div>
				</div>
				<div class="">
					<div class="max-w-sm w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">
						<div class="flex justify-between mb-3">
							<div class="flex justify-center items-center">
								<h5 class="text-lg font-bold leading-none text-gray-900 dark:text-white pe-1">Victoires et des Défaites</h5>
								<svg data-popover-target="chart-info" data-popover-placement="bottom" class="w-3.5 h-3.5 text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white cursor-pointer ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 20 20">
									<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm0 16a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm1-5.034V12a1 1 0 0 1-2 0v-1.418a1 1 0 0 1 1.038-.999 1.436 1.436 0 0 0 1.488-1.441 1.501 1.501 0 1 0-3-.116.986.986 0 0 1-1.037.961 1 1 0 0 1-.96-1.037A3.5 3.5 0 1 1 11 11.466Z"/>
								</svg>
								<div data-popover id="chart-info" role="tooltip" class="absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-72 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400">
									<div class="p-3 space-y-2">
										<h3 class="font-semibold text-gray-900 dark:text-white">Activity growth - Incremental</h3>
										<p>Report helps navigate cumulative growth of community activities. Ideally, the chart should have a growing trend, as stagnating chart signifies a significant decrease of community activity.</p>
										<h3 class="font-semibold text-gray-900 dark:text-white">Calculation</h3>
										<p>For each date bucket, the all-time volume of activities is calculated. This means that activities in period n contain all activities up to period n, plus the activities generated by your community in period.</p>
										<a href="#" class="flex items-center font-medium text-blue-600 dark:text-blue-500 dark:hover:text-blue-600 hover:text-blue-700 hover:underline">Read more
											<svg class="w-2 h-2 ms-1.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 6 10">
												<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
											</svg>
										</a>
									</div>
									<div data-popper-arrow></div>
								</div>
							</div>
						</div>

						<!-- Donut Chart -->
						<div class="py-6" id="donut-chart"></div>
						<div class="grid grid-cols-1 items-center border-gray-200 border-t dark:border-gray-700 justify-between">
							<div class="flex justify-between items-center pt-5">
								<!-- Button -->
								<button id="dropdownDefaultButton" data-dropdown-toggle="lastDaysdropdown" data-dropdown-placement="bottom" class="text-sm font-medium text-gray-500 dark:text-gray-400 hover:text-gray-900 text-center inline-flex items-center dark:hover:text-white" type="button">
									Hier
									<svg class="w-2.5 m-2.5 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 10 6">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
									</svg>
								</button>
								<div id="lastDaysdropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
									<ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
										<li>
											<a id="donnutYesterday" href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Hier</a>
										</li>
										<li>
											<a id="donnutCurrent" href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Aujourd'hui</a>
										</li>
										<li>
											<a id="donnut7" href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">7 derniers jours</a>
										</li>
										<li>
											<a id="donnut14" href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">14 derniers jours</a>
										</li>
										<li>
											<a id="donnut30" href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">30 derniers jours</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>

		const btnReload = $("#reloadBtn");
		const btnChartDonnut = $("#dropdownDefaultButton");
		const btnChartLine = $("#dropdownHoverButton")

		const chartDonnut30 = $("#donnut30");
		const chartDonnut14 = $("#donnut14");
		const chartDonnut7 = $("#donnut7");
		const chartDonnutYesterday = $("#donnutYesterday");
 		const chartDonnutCurrent = $("#donnutCurrent");

		/* const chartLine90 = $("#line90");
		const chartLine30 = $("#line30"); */
		const chartLine14 = $("#line14");
		const chartLine7 = $("#line7");
		

		$(document).ready(function() {
			
			//Relaod table
			btnReload.on('click', function (){
					$.ajax({
						url:"/reloadData",
						method: 'GET',
						success: function (response){
							console.log(response);
						},
						error: function (error){
							console.error(error)
						}
					})
			})

			//Started all graph
			$.ajax({
				url:"/chartStart",
				method: 'GET',
				success: function (response){
					chartLine.updateOptions({
							yaxis: {
								show: true,
								stepSize: 5,
								max: 40,
								labels: {
									show: true,
									style: {
									fontFamily: "Inter, sans-serif",
									cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
									}
								}
							},
							xaxis : {
								categories : response.date
							},
							series : [
								{
									name: "Nombre de match",
									data: response.nbMatchForDate,
									color: "#1A56DB",
								},
								{
									name: "Nombre de victoire",
									data: response.nbMatchWinForDate,
									color: "#7E3BF2",
								}
							]
					}),
					chart.updateOptions({
						series : response.dataDonut
					})

				},
				error: function (error){
					console.error(error)
				}
			})

			fetchDataAndUptade();
        	setInterval(fetchDataAndUptade, 2500)
		});

        

		// --------- line-chart filter date--------- //
			chartLine7.on('click', function(event){
					event.preventDefault(); // Annuler le comportement par défaut du lien
					btnChartLine.text("7 derniers jours");
					chartLine.updateOptions({
						xaxis : {
							categories : []
						},
						yaxis : {
							show: false,
								stepSize: 5,
								max: 40,
								labels: {
									show: true,
									style: {
									fontFamily: "Inter, sans-serif",
									cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
									}
								}
						},
						series : [],
						noData : {
							text: 'Chargement...',
						},
					})

					$.ajax({
						url:"/chartline",
						method: 'GET',
						data: {
							messageChartLine: '7'
						},
						success: function (response){
							chartLine.updateOptions({
								xaxis : {
									categories : response.date
								},
								yaxis : {
									show: true,
										stepSize: 5,
										max: 40,
										labels: {
											show: true,
											style: {
											fontFamily: "Inter, sans-serif",
											cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
											}
										}
								},
								series : [
									{
										name: "Nombre de match",
										data: response.nbMatchForDate,
										color: "#1A56DB",
									},
									{
										name: "Nombre de victoire",
										data: response.nbMatchWinForDate,
										color: "#7E3BF2",
									}
								]
							})
						},
						error: function (error){
							console.error(error)
						}
					})
			})

			chartLine14.on('click', function(event){
					event.preventDefault(); // Annuler le comportement par défaut du lien
					btnChartLine.text("14 derniers jours");
					chartLine.updateOptions({
						xaxis : {
							categories : []
						},
						yaxis : {
							show: false,
								stepSize: 5,
								max: 40,
								labels: {
									show: true,
									style: {
									fontFamily: "Inter, sans-serif",
									cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
									}
								}
						},
						series : [],
						noData : {
							text: 'Chargement...',
						},
					})

					$.ajax({
						url:"/chartline",
						method: 'GET',
						data: {
							messageChartLine: '14'
						},
						success: function (response){
							chartLine.updateOptions({
								xaxis : {
									categories: response.date
								},
								yaxis : {
									show: true,
										stepSize: 5,
										max: 40,
										labels: {
											show: true,
											style: {
											fontFamily: "Inter, sans-serif",
											cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
											}
										}
								},
								series : [
									{
									name: "Nombre de match",
									data: response.nbMatchForDate,
									color: "#1A56DB",
								},
								{
									name: "Nombre de victoire",
									data: response.nbMatchWinForDate,
									color: "#7E3BF2",
								}
								]
		
							})
						},
						error: function (error){
							console.error(error)
						}
					})
			})
		// --------- line-chart filter date--------- //

		// --------- donut-chart filter date --------- //
			chartDonnutCurrent.on('click', function(event){
					event.preventDefault(); // Annuler le comportement par défaut du lien
					btnChartDonnut.text("Aujourd'hui");
					chart.updateOptions({
						series: [],
						noData: {
							text: 'Chargement...',
						},
					})

					$.ajax({
						url:"/chartdonut",
						method: 'GET',
						data: {
							message: 'Today'
						},
						success: function (response){
							chart.updateOptions({
							series : response.data
						})
						},
						error: function (error){
							console.error(error)
						}
					})
			}) 

			chartDonnutYesterday.on('click', function(event){
					event.preventDefault(); // Annuler le comportement par défaut du lien
					btnChartDonnut.text("Hier");
					chart.updateOptions({
						series: [],
						noData: {
							text: 'Chargement...',
						},
					})

					$.ajax({
						url:"/chartdonut",
						method: 'GET',
						data: {
							message: 'Yesterday'
						},
						success: function (response){
							chart.updateOptions({
							series : response.data
						})
						},
						error: function (error){
							console.error(error)
						}
					})
			}) 

			chartDonnut7.on('click', function(event){
					event.preventDefault(); // Annuler le comportement par défaut du lien
					btnChartDonnut.text("7 derniers jours");
					chart.updateOptions({
						series: [],
						noData: {
							text: 'Chargement...',
						},
					})

					$.ajax({
						url:"/chartdonut",
						method: 'GET',
						data: {
							message: '7'
						},
						success: function (response){
							chart.updateOptions({
							series : response.data
						})
						},
						error: function (error){
							console.error(error)
						}
					})
			}) 

			chartDonnut14.on('click', function(event){
					event.preventDefault(); // Annuler le comportement par défaut du lien
					btnChartDonnut.text("14 derniers jours");
					chart.updateOptions({
						series: [],
						noData: {
							text: 'Chargement...',
						},
					})

					$.ajax({
						url:"/chartdonut",
						method: 'GET',
						data: {
							message: '14'
						},
						success: function (response){
							chart.updateOptions({
							series : response.data
						})
						},
						error: function (error){
							console.error(error)
						}
					})
			}) 

			chartDonnut30.on('click', function(event){
					event.preventDefault(); // Annuler le comportement par défaut du lien
					btnChartDonnut.text("30 derniers jours");
					chart.updateOptions({
						series: [],
						noData: {
							text: 'Chargement...',
						},
					})

					$.ajax({
						url:"/chartdonut",
						method: 'GET',
						data: {
							message: '30'
						},
						success: function (response){
							chart.updateOptions({
							series : response.data
						})
						},
						error: function (error){
							console.error(error)
						}
					})
			})
		// --------- donut-chart filter date--------- //


		// --------- line-chart empty--------- //
			const options = {
						xaxis: {
							show: true,
							categories:[],
							labels: {
								show: true,
								style: {
								fontFamily: "Inter, sans-serif",
								cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
								}
							},
							axisBorder: {
								show: false,
							},
							axisTicks: {
								show: false,
							},
						},
						yaxis: {
							show: false,
							stepSize: 5,
							max: 40,
							labels: {
								show: true,
								style: {
								fontFamily: "Inter, sans-serif",
								cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
								}
							}
						},
						series: [],
						noData: {
							text: 'Chargement...',
						},
						chart: {
							sparkline: {
								enabled: false
							},
							height: "100%",
							width: "100%",
							type: "area",
							fontFamily: "Inter, sans-serif",
							dropShadow: {
								enabled: false,
							},
							toolbar: {
								show: false,
							},
						},
						tooltip: {
							enabled: true,
							x: {
								show: false,
							},
						},
						fill: {
							type: "gradient",
							gradient: {
								opacityFrom: 0.55,
								opacityTo: 0,
								shade: "#1C64F2",
								gradientToColors: ["#1C64F2"],
							},
						},
						dataLabels: {
							enabled: false,
						},
						stroke: {
							width: 6,
						},
						legend: {
							show: false
						},
						grid: {
							show: false,
						},
			}

			if (document.getElementById("labels-chart") && typeof ApexCharts !== 'undefined') {
				var chartLine = new ApexCharts(document.getElementById("labels-chart"), options);
				chartLine.render();
			}
		// --------- line-chart empty--------- //

		// --------- donut-chart empty--------- //
			const getChartOptions = () => {
						return {
								series: [],
								colors: ["#16A34A", "#DC2626"],
								chart: {
									height: 320,
									width: "100%",
									type: "donut",
								},
								stroke: {
									colors: ["transparent"],
									lineCap: "",
								},
								noData: {
									text: 'Chargement...',
								},
								plotOptions: {
									pie: {
										donut: {
										labels: {
											show: true,
											name: {
												show: true,
												fontFamily: "Inter, sans-serif",
												offsetY: 20,
											},
											total: {
												showAlways: true,
												show: true,
												label: "Nombre de matchs",
												fontFamily: "Inter, sans-serif",
											},
											value: {
											show: true,
											fontFamily: "Inter, sans-serif",
											offsetY: -20,
											},
										},
										size: "80%",
										},
									},
								},
								grid: {
									padding: {
										top: -2,
									},
								},
								labels: ["Victoire", "Défaite"],
								dataLabels: {
									enabled: false,
								},
								legend: {
									position: "bottom",
									fontFamily: "Inter, sans-serif",
									},
								xaxis: {
									axisTicks: {
										show: false,
									},
									axisBorder: {
										show: false,
									},
								},
						}
			}

			if (document.getElementById("donut-chart") && typeof ApexCharts !== 'undefined') {
				var chart = new ApexCharts(document.getElementById("donut-chart"), getChartOptions());
				chart.render();
			}
		// --------- donut-chart empty--------- //



	</script>
{% endblock %}
